@using ScoreUI.Models.Consts
@inherits LayoutComponentBase

<MudThemeProvider Theme="Theme.Default" />
<MudPopoverProvider />
<MudDialogProvider MaxWidth="MaxWidth.Medium" FullWidth="true" />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar Elevation="1">
		<a href="@Urls.Home">
			<MudImage Src="/ScoreUI_logo_short.png" Width="80" />
		</a>
		<MudSpacer />
		<MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.Help" Href="@Urls.Docs.Index" Class="white-text">
			POMOC
		</MudButton>
	</MudAppBar>
	<MudMainContent>
		<div class="pa-3">
			@Body
		</div>
	</MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
	<MudAlert Severity="Severity.Error" Variant="Variant.Filled">
		<MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
			<MudText>
				Wystąpił nieoczekiwany błąd.
			</MudText>
			<MudButton Href="/" Variant="Variant.Filled" Color="Color.Dark" StartIcon="@Icons.Material.Filled.Refresh">
				Załaduj ponownie aplikację.
			</MudButton>
		</MudStack>
	</MudAlert>
</div>