@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar Elevation="1">
		<MudText Typo="Typo.h5" Class="ml-3">ScoreUI</MudText>
		<MudSpacer />
		<MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
	</MudAppBar>
	<MudMainContent>
		<div class="pa-3">
			@Body
		</div>
	</MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
	<MudAlert Severity="Severity.Error" Variant="Variant.Filled">
		<MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
			<MudText>
				Wystąpił nieoczekiwany błąd.
			</MudText>
			<MudButton Href="/" Variant="Variant.Filled" Color="Color.Dark" StartIcon="@Icons.Material.Filled.Refresh">
				Załaduj ponownie aplikację.
			</MudButton>
		</MudStack>
	</MudAlert>
</div>