html, body {
    background: #fafafa;
}

.doc-title {
    border-left: 3px solid cornflowerblue;
    padding-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 25px 0 10px;
}

.doc-title-anchor {
    margin-top: -200px;
}

.doc-title-copy-icon {
    display: none;
}

.doc-title:hover .doc-title-copy-icon {
    display: block;
}

.doc-link {
    text-decoration: underline; 
    text-decoration-style: dashed; 
    text-decoration-color: cornflowerblue;
}

.mud-typography.mud-typography-subtitle1 {
    margin-top: 12px;
}

strong {
    font-weight: 500;
}