@attribute [Route(Urls.Error)]
@using System.Diagnostics
@using ScoreUI.Models.Consts

<PageTitle>Error</PageTitle>

<MudAlert Severity="Severity.Error" Variant="Variant.Filled">
	<MudText Typo="Typo.h6">
		Wystąpił błąd
	</MudText>
	<MudText>
		Wystąpił błąd podczas przetwarzania Twojego żądania.
	</MudText>
</MudAlert>

@if (ShowRequestId)
{
	<p>
		<strong>Request ID:</strong> <code>@RequestId</code>
	</p>
}

@code{

	[CascadingParameter]
	private HttpContext? HttpContext { get; set; }

	private string? RequestId { get; set; }
	private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

	protected override void OnInitialized() =>
		RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

}