@using ScoreUI.Models.Entities
@using ScoreUI.Components.Participants

<MudPaper Class="gray lighten-4">
	@if (!string.IsNullOrWhiteSpace(Match.DisplayText))
	{
		<div class="px-3 py-2 gray lighten-3">
			<MudText Typo="Typo.h6">
				@Match.DisplayText
			</MudText>
		</div>
	}
	<div class="pa-3">
		<MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
			<div style="width: 100%">
				<div class="pa-3" style="border-bottom: 1px solid black">
					<ParticipantIdDisplay Tournament="Tournament" Id="Match.OneId" />
				</div>
				<div class="pa-3">
					<ParticipantIdDisplay Tournament="Tournament" Id="Match.TwoId" />
				</div>
			</div>
			<MudStack Justify="Justify.SpaceBetween">
				<MudButton StartIcon="@Icons.Material.Filled.ChevronRight" Variant="Variant.Filled" Color="Color.Primary">
					Oceniaj
				</MudButton>
				<MudButton StartIcon="@Icons.Material.Filled.DeleteOutline" Variant="Variant.Filled" Color="Color.Error" OnClick="() => OnDelete.InvokeAsync(Match)">
					Usuń
				</MudButton>
			</MudStack>
		</MudStack>
	</div>
	@if (!string.IsNullOrWhiteSpace(Match.Comment))
	{
		<div class="px-3 py-1 gray lighten-3">
			<MudText Typo="Typo.caption">
				@Match.Comment
			</MudText>
		</div>
	}
</MudPaper>

@code {
	[Parameter, EditorRequired]
	public required Tournament Tournament { get; set; }
	
	[Parameter, EditorRequired]
	public required Match Match { get; set; }
	
	[Parameter, EditorRequired]
	public EventCallback<Match> OnDelete { get; set; }
}