@using ScoreUI.Models.Entities

<MudStack Row AlignItems="AlignItems.Center">
	@if (Participant.ImageBase64 is not null)
	{
		<img src="@Participant.ImageBase64" alt="Logo" width="32" />
	}
	<span style="color: @Participant.ColorHex">
		@Participant.GetShortName()
	</span>
</MudStack>

@code {

	[Parameter, EditorRequired]
	public required Participant Participant { get; set; }

}