@using ScoreUI.Models.Entities

<MudStack Row AlignItems="AlignItems.Center">
	@if (Participant.ImageBase64 is not null)
	{
		<img src="@Participant.ImageBase64" alt="Logo" width="32" />
	}
	@if (Participant.ColorHex is not null)
	{
		<div class="px-2 mx-2" style="background: @Participant.ColorHex">
			&nbsp;
		</div>
	}
	<span>
		@Participant.GetShortName()
	</span>
</MudStack>

@code {

	[Parameter, EditorRequired]
	public required Participant Participant { get; set; }

}